<a href="https://colab.research.google.com/github/MouradJAVA/Python/blob/main/LCL_Efficiently_Cleaning_Text_with_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
import pathlib
import re

In [3]:

! python -m pip install -U sidetable

Requirement already satisfied: sidetable in c:\users\moura\appdata\local\programs\python\python310\lib\site-packages (0.9.1)
Requirement already satisfied: pandas>=1.0 in c:\users\moura\appdata\local\programs\python\python310\lib\site-packages (from sidetable) (1.4.2)
Requirement already satisfied: numpy>=1.21.0 in c:\users\moura\appdata\local\programs\python\python310\lib\site-packages (from pandas>=1.0->sidetable) (1.23.4)
Requirement already satisfied: pytz>=2020.1 in c:\users\moura\appdata\local\programs\python\python310\lib\site-packages (from pandas>=1.0->sidetable) (2022.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\moura\appdata\local\programs\python\python310\lib\site-packages (from pandas>=1.0->sidetable) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\moura\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.8.1->pandas>=1.0->sidetable) (1.16.0)

In [4]:
import sidetable

In [5]:
cd C:\Users\moura\OneDrive\Documents\Courses\Python Lectures\Pandas\pandas Courses\Text cleaning\Efficiently Cleaning Text with Pandas

C:\Users\moura\OneDrive\Documents\Courses\Python Lectures\Pandas\pandas Courses\Text cleaning\Efficiently Cleaning Text with Pandas

In [6]:
pwd

'C:\\Users\\moura\\OneDrive\\Documents\\Courses\\Python Lectures\\Pandas\\pandas Courses\\Text cleaning\\Efficiently Cleaning Text with Pandas'

In [7]:
# read 'Iowa_Liquor_Sales_2019.csv' file in df DataFrame
df = pd.read_csv('Iowa_Liquor_Sales_2019.csv')

In [8]:
pd.options.display.max_columns=100

In [9]:
# show the first 5 rows
df

,Invoice/Item Number,Date,Store Number,Store Name,Address,City,Zip Code,Store Location,County Number,County,Category,Category Name,Vendor Number,Vendor Name,Item Number,Item Description,Pack,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons)
0,INV-16693100021,01/02/2019,5151,IDA LIQUOR,"500, HWY 175",IDA GROVE,51445.0,NaN,47.0,IDA,1031100.0,AMERICAN VODKAS,434.0,LUXCO INC,36308,HAWKEYE VODKA,6,1750,7.17,10.76,6,64.56,10.50,2.77
1,INV-16681900004,01/02/2019,5286,SAUCE,"108, COLLEGE",IOWA CITY,52240.0,NaN,52.0,JOHNSON,1031100.0,AMERICAN VODKAS,55.0,SAZERAC NORTH AMERICA,35317,BARTON VODKA,12,1000,3.97,5.96,12,71.52,12.00,3.17
2,INV-16693100017,01/02/2019,5151,IDA LIQUOR,"500, HWY 175",IDA GROVE,51445.0,NaN,47.0,IDA,1031100.0,AMERICAN VODKAS,301.0,FIFTH GENERATION INC,38178,TITOS HANDMADE VODKA,6,1750,19.00,28.50,6,171.00,10.50,2.77
3,INV-16679100078,01/02/2019,2549,HY-VEE FOOD STORE / INDIANOLA,910 N JEFFERSON,INDIANOLA,50125.0,NaN,91.0,WARREN,1011600.0,STRAIGHT RYE WHISKIES,260.0,DIAGEO AMERICAS,27025,BULLEIT 95 RYE,12,750,16.00,24.00,12,288.00,9.00,2.37
4,INV-16685300014,01/02/2019,2524,HY-VEE FOOD STORE / DUBUQUE,3500 DODGE ST,DUBUQUE,52001.0,NaN,31.0,DUBUQUE,1031100.0,AMERICAN VODKAS,260.0,DIAGEO AMERICAS,37417,POPOV 80PRF,12,1000,5.50,8.25,12,99.00,12.00,3.17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2380340,INV-24284800041,12/31/2019,5514,JOHNCY'S LIQUOR STORE,585 HWY 965 STE D & E,NORTH LIBERTY,52317.0,POINT (-91.60761 41.738129),52.0,JOHNSON,1081200.0,CREAM LIQUEURS,260.0,DIAGEO AMERICAS,74086,GODIVA DARK CHOCOLATE LIQUEUR,12,750,17.00,25.50,2,51.00,1.50,0.39
2380341,INV-24285200016,12/31/2019,5138,KELLOGG COUNTRY STORE,"103, BLAIR ST",KELLOGG,50135.0,POINT (-92.903113 41.7144),50.0,JASPER,1062400.0,SPICED RUM,260.0,DIAGEO AMERICAS,43336,CAPTAIN MORGAN ORIGINAL SPICED,12,750,9.06,13.59,12,163.08,9.00,2.37
2380342,INV-24262100003,12/31/2019,5794,CASEY'S GENERAL STORE #1922 / WALCOTT,780 N MAIN ST,WALCOTT,52773.0,POINT (-90.774559 41.59208),82.0,SCOTT,1031100.0,AMERICAN VODKAS,434.0,LUXCO INC,36305,HAWKEYE VODKA PET,12,750,3.34,5.01,12,60.12,9.00,2.37
2380343,INV-24286300092,12/31/2019,4152,FOOD LAND SUPER MARKETS,407 W HURON,MISSOURI VALLEY,51555.0,POINT (-95.899346 41.557404),43.0,HARRISON,1071100.0,COCKTAILS /RTD,55.0,SAZERAC NORTH AMERICA,57129,CHI-CHI'S MEXICAN MUDSLIDE,6,1750,6.17,9.26,1,9.26,1.75,0.46
2380344,INV-24271100009,12/31/2019,4233,FAREWAY STORES #815 / CRESCO,112 S ELM ST,CRESCO,52136.0,POINT (-92.116902 43.371089),45.0,HOWARD,1031200.0,AMERICAN FLAVORED VODKA,260.0,DIAGEO AMERICAS,77683,SMIRNOFF KISSED CARAMEL,12,750,8.25,12.38,3,37.14,2.25,0.59

In [10]:
# show informations about DataFrame and Columns values type
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2380345 entries, 0 to 2380344
Data columns (total 24 columns):
 #   Column                 Dtype
---  ------                 -----
 0   Invoice/Item Number    object
 1   Date                   object
 2   Store Number           int64
 3   Store Name             object
 4   Address                object
 5   City                   object
 6   Zip Code               float64
 7   Store Location         object
 8   County Number          float64
 9   County                 object
 10  Category               float64
 11  Category Name          object
 12  Vendor Number          float64
 13  Vendor Name            object
 14  Item Number            int64
 15  Item Description       object
 16  Pack                   int64
 17  Bottle Volume (ml)     int64
 18  State Bottle Cost      float64
 19  State Bottle Retail    float64
 20  Bottles Sold           int64
 21  Sale (Dollars)         float64
 22  Volume Sold (Liters)   float64
 23  Volume Sold (Gallons)  float64
dtypes: float64(9), int64(5), object(10)
memory usage: 435.9+ MB

In [11]:
# show statistics about numerical columns
df.describe()

,Store Number,Zip Code,County Number,Category,Vendor Number,Item Number,Pack,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons)
count,2.380345e+06,2.375581e+06,2.375581e+06,2.377427e+06,2.380344e+06,2.380345e+06,2.380345e+06,2.380345e+06,2.380345e+06,2.380345e+06,2.380345e+06,2.380345e+06,2.380345e+06,2.380345e+06
mean,3.903901e+03,5.126670e+04,5.730555e+01,1.052185e+06,2.647152e+02,4.836175e+04,1.242525e+01,8.766395e+02,1.034431e+01,1.551888e+01,1.127750e+01,1.467100e+02,9.368987e+00,2.469610e+00
std,1.138921e+03,9.881870e+02,2.727291e+01,9.329829e+04,1.370791e+02,6.708207e+04,8.108758e+00,5.214263e+02,8.568864e+00,1.285549e+01,3.131091e+01,4.871768e+02,3.824454e+01,1.010336e+01
min,2.106000e+03,5.000200e+04,1.000000e+00,1.011100e+06,3.300000e+01,1.590000e+02,1.000000e+00,2.000000e+01,8.900000e-01,1.340000e+00,1.000000e+00,1.340000e+00,2.000000e-02,0.000000e+00
25%,2.624000e+03,5.031600e+04,3.100000e+01,1.012200e+06,1.150000e+02,2.682800e+04,6.000000e+00,7.500000e+02,5.500000e+00,8.250000e+00,3.000000e+00,3.375000e+01,1.500000e+00,3.900000e-01
50%,3.952000e+03,5.110300e+04,6.200000e+01,1.031200e+06,2.600000e+02,3.817700e+04,1.200000e+01,7.500000e+02,8.250000e+00,1.238000e+01,6.000000e+00,7.536000e+01,4.800000e+00,1.260000e+00
75%,4.971000e+03,5.230200e+04,7.700000e+01,1.062400e+06,3.890000e+02,6.486400e+04,1.200000e+01,1.000000e+03,1.296000e+01,1.944000e+01,1.200000e+01,1.485600e+02,1.050000e+01,2.770000e+00
max,9.042000e+03,5.722200e+04,9.900000e+01,1.901200e+06,9.780000e+02,9.992920e+05,4.800000e+01,6.000000e+03,1.749120e+03,2.623680e+03,6.750000e+03,7.843500e+04,1.181250e+04,3.120530e+03

In [12]:
np.sort(df.Pack.unique())

array([ 1,  2,  3,  4,  5,  6,  8,  9, 10, 12, 15, 16, 18, 20, 24, 32, 44,
       48], dtype=int64)

In [13]:
df.Pack.value_counts()

12    1312057
6      654766
24     228378
48      69645
10      67339
1       22711
5        8561
44       6169
8        4398
3        2622
4        2573
9         435
15        305
20        161
16        128
18         87
2           9
32          1
Name: Pack, dtype: int64

In [14]:
#5 how much each store purchases and rank them from the largest to the smallest. 
df.groupby('Store Name')['Sale (Dollars)'].sum().sort_values(ascending=False)

Store Name
CENTRAL CITY 2                         11877163.59
HY-VEE #3 / BDI / DES MOINES           11275151.83
HY-VEE WINE AND SPIRITS / IOWA CITY     5001156.46
WILKIE LIQUORS                          3639515.18
LOT-A-SPIRITS                           3504665.15
                                          ...
CIRCLE K #4706601 / BURLINGTON             1508.07
FLASHMART #103/ANITIA                      1382.69
HOMETOWN FOODS - CONRAD                    1185.86
KATY DID'S GENERAL STORE                   1049.01
PARADISE DISTILLING COMPANY                  47.25
Name: Sale (Dollars), Length: 1759, dtype: float64

In [15]:
pd.crosstab(index=df['Store Name'],columns='sales', values=df['Sale (Dollars)'], aggfunc='sum').sort_values(by='sales',ascending=False)

col_0                                      sales
Store Name
CENTRAL CITY 2                       11877163.59
HY-VEE #3 / BDI / DES MOINES         11275151.83
HY-VEE WINE AND SPIRITS / IOWA CITY   5001156.46
WILKIE LIQUORS                        3639515.18
LOT-A-SPIRITS                         3504665.15
...                                          ...
CIRCLE K #4706601 / BURLINGTON           1508.07
FLASHMART #103/ANITIA                    1382.69
HOMETOWN FOODS - CONRAD                  1185.86
KATY DID'S GENERAL STORE                 1049.01
PARADISE DISTILLING COMPANY                47.25

[1759 rows x 1 columns]

In [16]:
df.pivot_table(index='Store Name',values='Sale (Dollars)',aggfunc='sum').sort_values(by='Sale (Dollars)',ascending=False)

                                     Sale (Dollars)
Store Name
CENTRAL CITY 2                          11877163.59
HY-VEE #3 / BDI / DES MOINES            11275151.83
HY-VEE WINE AND SPIRITS / IOWA CITY      5001156.46
WILKIE LIQUORS                           3639515.18
LOT-A-SPIRITS                            3504665.15
...                                             ...
CIRCLE K #4706601 / BURLINGTON              1508.07
FLASHMART #103/ANITIA                       1382.69
HOMETOWN FOODS - CONRAD                     1185.86
KATY DID'S GENERAL STORE                    1049.01
PARADISE DISTILLING COMPANY                   47.25

[1759 rows x 1 columns]

In [17]:
# df.stb.freq(['Store Name'], value='Sale (Dollars)', style=True, cum_cols=False)

In [18]:
#6 the store names are unique per location in most cases.
# Ideally we would like to see all the sales for Hy-Vee, Costco, Sam’s, etc grouped together.

In [19]:
df['Store Name'].unique()

array(['IDA LIQUOR', 'SAUCE', 'HY-VEE FOOD STORE / INDIANOLA', ...,
       'HOMETOWN FOODS - HUBBARD', "SHORTEE'S PIT STOP / SPEEDWAY CAFE",
       'TAYLOR QUIK PIK - HARLAN'], dtype=object)

In [20]:
#df.query("`Store Name`.str.contains(r'(.)*HY-VEE(.)*')")

In [21]:
#df[df['Store Name'].str.contains(r'(.)*HY-VEE(.)*', case= False, regex=True)]

In [22]:
HyVee = re.compile(r'(.)*HY-VEE(.)*', 
              re.IGNORECASE)
Costco = re.compile(r'(.)*Costco(.)*', 
              re.IGNORECASE)
Sams = re.compile(r'(.)*Sam’s(.)*', 
              re.IGNORECASE)

In [24]:
df.replace({'Store Name': HyVee}, {'Store Name': 'Hy-Vee'}, regex=True, inplace=True)
df.replace({'Store Name': Costco}, {'Store Name': 'Costco'}, regex=True, inplace=True)
df.replace({'Store Name': Sams}, {'Store Name': 'Sam’s'}, regex=True, inplace=True)

In [25]:
df

,Invoice/Item Number,Date,Store Number,Store Name,Address,City,Zip Code,Store Location,County Number,County,Category,Category Name,Vendor Number,Vendor Name,Item Number,Item Description,Pack,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons)
0,INV-16693100021,01/02/2019,5151,IDA LIQUOR,"500, HWY 175",IDA GROVE,51445.0,NaN,47.0,IDA,1031100.0,AMERICAN VODKAS,434.0,LUXCO INC,36308,HAWKEYE VODKA,6,1750,7.17,10.76,6,64.56,10.50,2.77
1,INV-16681900004,01/02/2019,5286,SAUCE,"108, COLLEGE",IOWA CITY,52240.0,NaN,52.0,JOHNSON,1031100.0,AMERICAN VODKAS,55.0,SAZERAC NORTH AMERICA,35317,BARTON VODKA,12,1000,3.97,5.96,12,71.52,12.00,3.17
2,INV-16693100017,01/02/2019,5151,IDA LIQUOR,"500, HWY 175",IDA GROVE,51445.0,NaN,47.0,IDA,1031100.0,AMERICAN VODKAS,301.0,FIFTH GENERATION INC,38178,TITOS HANDMADE VODKA,6,1750,19.00,28.50,6,171.00,10.50,2.77
3,INV-16679100078,01/02/2019,2549,Hy-Vee,910 N JEFFERSON,INDIANOLA,50125.0,NaN,91.0,WARREN,1011600.0,STRAIGHT RYE WHISKIES,260.0,DIAGEO AMERICAS,27025,BULLEIT 95 RYE,12,750,16.00,24.00,12,288.00,9.00,2.37
4,INV-16685300014,01/02/2019,2524,Hy-Vee,3500 DODGE ST,DUBUQUE,52001.0,NaN,31.0,DUBUQUE,1031100.0,AMERICAN VODKAS,260.0,DIAGEO AMERICAS,37417,POPOV 80PRF,12,1000,5.50,8.25,12,99.00,12.00,3.17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2380340,INV-24284800041,12/31/2019,5514,JOHNCY'S LIQUOR STORE,585 HWY 965 STE D & E,NORTH LIBERTY,52317.0,POINT (-91.60761 41.738129),52.0,JOHNSON,1081200.0,CREAM LIQUEURS,260.0,DIAGEO AMERICAS,74086,GODIVA DARK CHOCOLATE LIQUEUR,12,750,17.00,25.50,2,51.00,1.50,0.39
2380341,INV-24285200016,12/31/2019,5138,KELLOGG COUNTRY STORE,"103, BLAIR ST",KELLOGG,50135.0,POINT (-92.903113 41.7144),50.0,JASPER,1062400.0,SPICED RUM,260.0,DIAGEO AMERICAS,43336,CAPTAIN MORGAN ORIGINAL SPICED,12,750,9.06,13.59,12,163.08,9.00,2.37
2380342,INV-24262100003,12/31/2019,5794,CASEY'S GENERAL STORE #1922 / WALCOTT,780 N MAIN ST,WALCOTT,52773.0,POINT (-90.774559 41.59208),82.0,SCOTT,1031100.0,AMERICAN VODKAS,434.0,LUXCO INC,36305,HAWKEYE VODKA PET,12,750,3.34,5.01,12,60.12,9.00,2.37
2380343,INV-24286300092,12/31/2019,4152,FOOD LAND SUPER MARKETS,407 W HURON,MISSOURI VALLEY,51555.0,POINT (-95.899346 41.557404),43.0,HARRISON,1071100.0,COCKTAILS /RTD,55.0,SAZERAC NORTH AMERICA,57129,CHI-CHI'S MEXICAN MUDSLIDE,6,1750,6.17,9.26,1,9.26,1.75,0.46
2380344,INV-24271100009,12/31/2019,4233,FAREWAY STORES #815 / CRESCO,112 S ELM ST,CRESCO,52136.0,POINT (-92.116902 43.371089),45.0,HOWARD,1031200.0,AMERICAN FLAVORED VODKA,260.0,DIAGEO AMERICAS,77683,SMIRNOFF KISSED CARAMEL,12,750,8.25,12.38,3,37.14,2.25,0.59

In [ ]:
df.loc[df['Store Name'].str.contains('Hy-Vee', case=False), 'Store_Group_1'] = 'Hy-Vee'

In [ ]:
df.loc[df['Store Name'].str.contains('Hy-Vee', case=False, regex=False), 'Store_Group_1'] = 'Hy-Vee'

In [ ]:
df.head()

In [ ]:
x=df['Store Name']
condlist=[x.str.contains('Hy-Vee', case=False, regex=False),x.str.contains('Costco', case=False, regex=False),x.str.contains('Sam’s', case=False, regex=False)]
choicelist=['Hy-Vee','Costco','Sam’s']
df.insert(4,'Store_Group',np.select(condlist,choicelist))

In [ ]:
df

In [ ]:
df.Store_Group.unique()

In [ ]:
# create a new column called hasLocation :
# that will contain Boolean values — True if the 'Store Location' column has location coordinates and False if it did not

In [26]:
df.insert(9,'hasLocation',~df['Store Location'].isna())

In [27]:
~df['Store Location'].isna()

0          False
1          False
2          False
3          False
4          False
           ...
2380340     True
2380341     True
2380342     True
2380343     True
2380344     True
Name: Store Location, Length: 2380345, dtype: bool

In [28]:
df['Store Location'].str.contains('point', case= False)==True

0          False
1          False
2          False
3          False
4          False
           ...
2380340     True
2380341     True
2380342     True
2380343     True
2380344     True
Name: Store Location, Length: 2380345, dtype: bool

In [30]:
#df.drop(columns='yesLocation', inplace=True)

In [31]:
df.insert(9,'yesLocation',np.where(df['Store Location'].str.contains('point',case=False)==True,True,False))

In [34]:
df.head(3)

,Invoice/Item Number,Date,Store Number,Store Name,Address,City,Zip Code,Store Location,County Number,yesLocation,hasLocation,County,Category,Category Name,Vendor Number,Vendor Name,Item Number,Item Description,Pack,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons)
0,INV-16693100021,01/02/2019,5151,IDA LIQUOR,"500, HWY 175",IDA GROVE,51445.0,NaN,47.0,False,False,IDA,1031100.0,AMERICAN VODKAS,434.0,LUXCO INC,36308,HAWKEYE VODKA,6,1750,7.17,10.76,6,64.56,10.5,2.77
1,INV-16681900004,01/02/2019,5286,SAUCE,"108, COLLEGE",IOWA CITY,52240.0,NaN,52.0,False,False,JOHNSON,1031100.0,AMERICAN VODKAS,55.0,SAZERAC NORTH AMERICA,35317,BARTON VODKA,12,1000,3.97,5.96,12,71.52,12.0,3.17
2,INV-16693100017,01/02/2019,5151,IDA LIQUOR,"500, HWY 175",IDA GROVE,51445.0,NaN,47.0,False,False,IDA,1031100.0,AMERICAN VODKAS,301.0,FIFTH GENERATION INC,38178,TITOS HANDMADE VODKA,6,1750,19.00,28.50,6,171.00,10.5,2.77

In [35]:
# create a new column called statut that will contain four categories where Pack column:
# tier_4 — 0-5 
# tier_3 — 6-10 
# tier_2 — 11-20 
# tier_1 — 20+

In [43]:
df['statut']=pd.cut(df.Pack,[0,5,10,20,df.Pack.max()],labels=['tier_4','tier_3','tier_2','tier_1'])

In [38]:
def tiers(pack):
  if pack <=5:
    return 'tier_4'
  elif pack <=10:
    return 'tier_3'
  elif pack <=20:
    return 'tier_2'
  else:
    return 'tier_1'

In [40]:
df['stat2'] = df.Pack.apply(tiers)

In [44]:
df

,Invoice/Item Number,Date,Store Number,Store Name,Address,City,Zip Code,Store Location,County Number,yesLocation,hasLocation,County,Category,Category Name,Vendor Number,Vendor Name,Item Number,Item Description,Pack,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons),stat2,statut
0,INV-16693100021,01/02/2019,5151,IDA LIQUOR,"500, HWY 175",IDA GROVE,51445.0,NaN,47.0,False,False,IDA,1031100.0,AMERICAN VODKAS,434.0,LUXCO INC,36308,HAWKEYE VODKA,6,1750,7.17,10.76,6,64.56,10.50,2.77,tier_3,tier_3
1,INV-16681900004,01/02/2019,5286,SAUCE,"108, COLLEGE",IOWA CITY,52240.0,NaN,52.0,False,False,JOHNSON,1031100.0,AMERICAN VODKAS,55.0,SAZERAC NORTH AMERICA,35317,BARTON VODKA,12,1000,3.97,5.96,12,71.52,12.00,3.17,tier_2,tier_2
2,INV-16693100017,01/02/2019,5151,IDA LIQUOR,"500, HWY 175",IDA GROVE,51445.0,NaN,47.0,False,False,IDA,1031100.0,AMERICAN VODKAS,301.0,FIFTH GENERATION INC,38178,TITOS HANDMADE VODKA,6,1750,19.00,28.50,6,171.00,10.50,2.77,tier_3,tier_3
3,INV-16679100078,01/02/2019,2549,Hy-Vee,910 N JEFFERSON,INDIANOLA,50125.0,NaN,91.0,False,False,WARREN,1011600.0,STRAIGHT RYE WHISKIES,260.0,DIAGEO AMERICAS,27025,BULLEIT 95 RYE,12,750,16.00,24.00,12,288.00,9.00,2.37,tier_2,tier_2
4,INV-16685300014,01/02/2019,2524,Hy-Vee,3500 DODGE ST,DUBUQUE,52001.0,NaN,31.0,False,False,DUBUQUE,1031100.0,AMERICAN VODKAS,260.0,DIAGEO AMERICAS,37417,POPOV 80PRF,12,1000,5.50,8.25,12,99.00,12.00,3.17,tier_2,tier_2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2380340,INV-24284800041,12/31/2019,5514,JOHNCY'S LIQUOR STORE,585 HWY 965 STE D & E,NORTH LIBERTY,52317.0,POINT (-91.60761 41.738129),52.0,True,True,JOHNSON,1081200.0,CREAM LIQUEURS,260.0,DIAGEO AMERICAS,74086,GODIVA DARK CHOCOLATE LIQUEUR,12,750,17.00,25.50,2,51.00,1.50,0.39,tier_2,tier_2
2380341,INV-24285200016,12/31/2019,5138,KELLOGG COUNTRY STORE,"103, BLAIR ST",KELLOGG,50135.0,POINT (-92.903113 41.7144),50.0,True,True,JASPER,1062400.0,SPICED RUM,260.0,DIAGEO AMERICAS,43336,CAPTAIN MORGAN ORIGINAL SPICED,12,750,9.06,13.59,12,163.08,9.00,2.37,tier_2,tier_2
2380342,INV-24262100003,12/31/2019,5794,CASEY'S GENERAL STORE #1922 / WALCOTT,780 N MAIN ST,WALCOTT,52773.0,POINT (-90.774559 41.59208),82.0,True,True,SCOTT,1031100.0,AMERICAN VODKAS,434.0,LUXCO INC,36305,HAWKEYE VODKA PET,12,750,3.34,5.01,12,60.12,9.00,2.37,tier_2,tier_2
2380343,INV-24286300092,12/31/2019,4152,FOOD LAND SUPER MARKETS,407 W HURON,MISSOURI VALLEY,51555.0,POINT (-95.899346 41.557404),43.0,True,True,HARRISON,1071100.0,COCKTAILS /RTD,55.0,SAZERAC NORTH AMERICA,57129,CHI-CHI'S MEXICAN MUDSLIDE,6,1750,6.17,9.26,1,9.26,1.75,0.46,tier_3,tier_3
2380344,INV-24271100009,12/31/2019,4233,FAREWAY STORES #815 / CRESCO,112 S ELM ST,CRESCO,52136.0,POINT (-92.116902 43.371089),45.0,True,True,HOWARD,1031200.0,AMERICAN FLAVORED VODKA,260.0,DIAGEO AMERICAS,77683,SMIRNOFF KISSED CARAMEL,12,750,8.25,12.38,3,37.14,2.25,0.59,tier_2,tier_2

In [47]:
df.query("Pack==Pack.max()")

,Invoice/Item Number,Date,Store Number,Store Name,Address,City,Zip Code,Store Location,County Number,yesLocation,hasLocation,County,Category,Category Name,Vendor Number,Vendor Name,Item Number,Item Description,Pack,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons),stat2,statut
66,INV-16677100033,01/02/2019,5299,PEARL CITY TOBACCO & LIQUOR OUTLET,"200, GREEN STREET",MUSCATINE,52761.0,POINT (-91.05788 41.413877),70.0,True,True,MUSCATINE,1081600.0,WHISKEY LIQUEUR,421.0,SAZERAC COMPANY INC,64870,FIREBALL CINNAMON,48,100,0.90,1.35,144,194.40,14.4,3.80,tier_1,tier_1
77,INV-16676900003,01/02/2019,4617,LICKETY LIQUOR,2501 HUBBELL AVE,DES MOINES,50317.0,POINT (-93.570489 41.607817),77.0,True,True,POLK,1031100.0,AMERICAN VODKAS,300.0,MCCORMICK DISTILLING CO.,36903,MCCORMICK VODKA,48,200,1.13,1.70,48,81.60,9.6,2.53,tier_1,tier_1
92,INV-16677100013,01/02/2019,5299,PEARL CITY TOBACCO & LIQUOR OUTLET,"200, GREEN STREET",MUSCATINE,52761.0,POINT (-91.05788 41.413877),70.0,True,True,MUSCATINE,1031100.0,AMERICAN VODKAS,205.0,E & J GALLO WINERY,36966,NEW AMSTERDAM 80PRF,48,100,1.00,1.50,48,72.00,4.8,1.26,tier_1,tier_1
155,INV-16676700021,01/02/2019,2190,"CENTRAL CITY LIQUOR, INC.",1460 2ND AVE,DES MOINES,50314.0,POINT (-93.619787 41.60566),77.0,True,True,POLK,1081600.0,WHISKEY LIQUEUR,421.0,SAZERAC COMPANY INC,64870,FIREBALL CINNAMON,48,100,0.90,1.35,96,129.60,9.6,2.53,tier_1,tier_1
254,INV-16676700001,01/02/2019,2190,"CENTRAL CITY LIQUOR, INC.",1460 2ND AVE,DES MOINES,50314.0,POINT (-93.619787 41.60566),77.0,True,True,POLK,1011400.0,TENNESSEE WHISKIES,85.0,BROWN FORMAN CORP.,26822,JACK DANIELS OLD #7 BLACK LABEL,48,100,2.00,3.00,48,144.00,4.8,1.26,tier_1,tier_1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2380109,INV-24287300009,12/31/2019,5086,"CENTRAL MART I, LLC.","2501, FLOYD BLVD",SIOUX CITY,51106.0,POINT (-96.385071 42.515989),97.0,True,True,WOODBURY,1062200.0,WHITE RUM,35.0,BACARDI USA INC,43123,BACARDI SUPERIOR,48,200,2.50,3.75,48,180.00,9.6,2.53,tier_1,tier_1
2380167,INV-24280700001,12/31/2019,5426,PRIME MART 2 / CEDAR FALLS,2728 CENTER ST.,CEDAR FALLS,50613.0,POINT (-92.455972 42.561054),7.0,True,True,BLACK HAWK,1031100.0,AMERICAN VODKAS,205.0,E & J GALLO WINERY,36966,NEW AMSTERDAM 80PRF,48,100,1.00,1.50,48,72.00,4.8,1.26,tier_1,tier_1
2380199,INV-24286900002,12/31/2019,4879,SAM'S MINI MART / MORNINGSIDE AVE SIOUX CITY,4218 MORNINGSIDE AVE,SIOUX CITY,51106.0,POINT (-96.352851 42.47063),97.0,True,True,WOODBURY,1081300.0,AMERICAN CORDIALS & LIQUEUR,55.0,SAZERAC NORTH AMERICA,84217,99 GRAPE,48,100,0.95,1.43,48,68.64,4.8,1.26,tier_1,tier_1
2380205,INV-24286900053,12/31/2019,4879,SAM'S MINI MART / MORNINGSIDE AVE SIOUX CITY,4218 MORNINGSIDE AVE,SIOUX CITY,51106.0,POINT (-96.352851 42.47063),97.0,True,True,WOODBURY,1011200.0,STRAIGHT BOURBON WHISKIES,65.0,JIM BEAM BRANDS,27781,JIM BEAM APPLE,48,100,1.25,1.88,48,90.24,4.8,1.26,tier_1,tier_1
2380233,INV-24284000032,12/31/2019,3896,SMOKIN' JOE'S #18 TOBACCO AND LIQUOR OUTLET,1901 BROADWAY ST,IOWA CITY,52240.0,POINT (-91.520308 41.641383),52.0,True,True,JOHNSON,1012100.0,CANADIAN WHISKIES,259.0,HEAVEN HILL BRANDS,11773,BLACK VELVET,48,200,1.56,2.34,4,9.36,0.8,0.21,tier_1,tier_1

In [48]:
# create a list of our conditions
conditions = [
    (df['Pack'] <= 5),
    (df['Pack'] > 5) & (df['Pack'] <= 10),
    (df['Pack'] > 10) & (df['Pack'] <= 20),
    (df['Pack'] > 20)
    ]

# create a list of the values we want to assign for each condition
values = ['tier_4', 'tier_3', 'tier_2', 'tier_1']

# create a new column and use np.select to assign values to it using our lists as arguments
df['tier'] = np.select(conditions, values)

In [49]:
df.head()

,Invoice/Item Number,Date,Store Number,Store Name,Address,City,Zip Code,Store Location,County Number,yesLocation,hasLocation,County,Category,Category Name,Vendor Number,Vendor Name,Item Number,Item Description,Pack,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons),stat2,statut,tier
0,INV-16693100021,01/02/2019,5151,IDA LIQUOR,"500, HWY 175",IDA GROVE,51445.0,NaN,47.0,False,False,IDA,1031100.0,AMERICAN VODKAS,434.0,LUXCO INC,36308,HAWKEYE VODKA,6,1750,7.17,10.76,6,64.56,10.5,2.77,tier_3,tier_3,tier_3
1,INV-16681900004,01/02/2019,5286,SAUCE,"108, COLLEGE",IOWA CITY,52240.0,NaN,52.0,False,False,JOHNSON,1031100.0,AMERICAN VODKAS,55.0,SAZERAC NORTH AMERICA,35317,BARTON VODKA,12,1000,3.97,5.96,12,71.52,12.0,3.17,tier_2,tier_2,tier_2
2,INV-16693100017,01/02/2019,5151,IDA LIQUOR,"500, HWY 175",IDA GROVE,51445.0,NaN,47.0,False,False,IDA,1031100.0,AMERICAN VODKAS,301.0,FIFTH GENERATION INC,38178,TITOS HANDMADE VODKA,6,1750,19.00,28.50,6,171.00,10.5,2.77,tier_3,tier_3,tier_3
3,INV-16679100078,01/02/2019,2549,Hy-Vee,910 N JEFFERSON,INDIANOLA,50125.0,NaN,91.0,False,False,WARREN,1011600.0,STRAIGHT RYE WHISKIES,260.0,DIAGEO AMERICAS,27025,BULLEIT 95 RYE,12,750,16.00,24.00,12,288.00,9.0,2.37,tier_2,tier_2,tier_2
4,INV-16685300014,01/02/2019,2524,Hy-Vee,3500 DODGE ST,DUBUQUE,52001.0,NaN,31.0,False,False,DUBUQUE,1031100.0,AMERICAN VODKAS,260.0,DIAGEO AMERICAS,37417,POPOV 80PRF,12,1000,5.50,8.25,12,99.00,12.0,3.17,tier_2,tier_2,tier_2